<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h4>Augur Code Challenge - Akyuna Akish</h4>
    </div>
  </nav>


  <div class="container">
    <div class="row row-centered">
      <div class="col-xs-6 col-centered col-fixed"><div class="item"><div class="content">

        <h3>ID for current browser/device-type combination:</h3>
        <p>{{currentState._id}}</p>

        <h3>Browser:</h3>
        <p>{{currentState.browser}}</p>

        <h3>Device Type:</h3>
        <div ng-if="mobileDevice">
          <h3>Device is mobile:</h3>
          <p>{{mobileDevice}}</p>
        </div>

        <div ng-if="notMobile">
          <p>{{notMobile}}</p>
        </div>

      </div></div></div>


    </div>
  </div>
